*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

body{
  background: cornflowerblue;
}

.box{
  width: 500px;
  height: 500px;
  background: #313052;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

span{
  font-size: 28px;
  position: absolute;
  color: #fff;
}

span:nth-child(1){
  top: 0;
  left: 50%;
  transform: translate(-50%, 25%);
}
span:nth-child(2){
  right: 0;
  top: 50%;
  transform: translate(-50%, -25%);
}
span:nth-child(3){
  bottom: 0;
  left: 50%;
  transform: translate(0, -25%);
}
span:nth-child(4){
  left: 0;
  top: 50%;
  transform: translate(50%, -25%);
}

.hour{
  width: 5px;
  height: 15%;
  background: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -100%) rotate(45deg);
  transform-origin: 50% bottom;
}

.min{
  width: 4px;
  height: 20%;
  background: skyblue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -100%);
  transform-origin: 50% bottom;
}

.sec{
  width: 2px;
  height: 30%;
  background: pink;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -100%);
  transform-origin: 50% bottom;
}

.dir{
  width: 20px;
  height: 20px;
  background: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}

.clock{
  width: 30%;
  height: 30px;
  line-height: 30px;
  background: #4d4c7c;
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 30%;
  transform: translate(-50%);
}