*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
}

body{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(72, 65, 182, 0.726);
  overflow: hidden;
}

.content{
  position: absolute;
  width: 237px;
  height: 50px;
  line-height: 50px;
  background: rgb(236, 111, 111);
  z-index: 99;
  border-radius: 10px;
  user-select: none;
  text-align: center;
  color: #fff;
  font-weight: 550;
  letter-spacing: 3px;
}

.box{
  position: absolute;
  width: 140px;
  height: 40px;
  line-height: 40px;
  background: rgb(235, 131, 62);
  z-index: 99;
  top: calc(50% + 50px);
  border-radius: 10px;
  text-align: center;
  color: #fff;
  font-weight: 550;
  letter-spacing: 2px;
  cursor: pointer;
  user-select: none;
}